.text-gold {
  color: #fd0;
}

.text-white {
  color: ivory;
  font-size: 0.8rem;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: "Courgette", cursive;
  color: ivory;
  height: 64px;
  font-size: 2rem;
  background-color: #222;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
}

.cluesList {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-gap: 3px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.rowNumberWrapper {
  justify-self: end;
  align-self: end;
}

.rowNumber {
  height: 100%;
  font-size: 4vw;
}

.node {
  display: inline-flex;
  text-align: center;
  padding: 0;
  border-width: 0;
  width: 100%;
  height: 100%;
}

.fadeNode {
  animation-duration: 5s;
  animation-name: fadeout;
  opacity: 0;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
