.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-family: "Courgette", cursive;
  color: ivory;
  height: 64px;
  font-size: 2rem;
  background-color: #222;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-gap: 1px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.node {
  display: inline-flex;
  text-align: center;
  padding: 0;
  border-width: 0;
}
